ipython
jupyter
ipykernel
guillotina_elasticsearch>=3.0.26
guillotina_cms>=1.0a10
guillotina>=4.2.7
Pillow
h5py
keras_applications==1.0.5
keras_preprocessing==1.0.3
matplotlib
numpy
pandas
scipy
sklearn
tensorflow
tensorflow-hub
seaborn
nltk
