ipython
jupyter
ipykernel
guillotina_elasticsearch>=5.0.0a1
guillotina_cms>=5.0.0a1
guillotina>=5.0.0a6
Pillow
h5py
keras_applications==1.0.5
keras_preprocessing==1.0.3
matplotlib
numpy
pandas
scipy
sklearn
tensorflow
tensorflow-hub
seaborn
nltk
